
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family:'Manrope', sans-serif;
}

body{
  background:#0f0f0f;
  color:#fff;
  padding-top:90px;  
}

.navbar{
  height:74px;              
  padding:0 74px;
  display:flex;
  align-items:center;      
  position: fixed;
  gap: 50px;
  top:0;
  left:0;
  width:100%;
  z-index:1000;
  justify-content:space-between;
  background:linear-gradient(180deg,#0f1b33,#0b1324);
  border-bottom:1px solid rgba(255,255,255,0.2);
  /* position:relative; */
}


.logo{
  display:flex;
  align-items:center;
  font-weight:600;
  font-size:26px;
  letter-spacing:0.5px;
}

.nav-links{
  list-style:none;
  display:flex;
  justify-content: space-evenly;
  margin-left: auto;
  gap:50px;
  
}

 .nav-links li{
  position:relative;
  display:flex;             
  align-items:center;       
  font-size:18px;
  color:#cbd5e1;
  cursor:pointer;
  padding:38px 4px;
  height:25px 4px;  
  font-weight: 500;             
  transition:color 0.25s ease;
  
} 

.nav-links a{
  text-decoration: none;
  color: inherit;
}

.nav-links li:hover{
  
  color:#ffffff;
    border-bottom-color:#4da6ff;
}


 .nav-links li::after{
  content:"";
  position:absolute;
  left:50%;
  bottom:12px;                 
  width:70px;
  height:2px;
  background:#4da6ff;
  border-radius:2px;
  transform:translateX(-50%) scaleX(0);
  transform-origin:center;
  transition:transform 0.35s ease;
} 
 


.nav-links li:hover::after{
  transform:translateX(-50%) scaleX(1);
  
}
.rightnav{
  margin-left:15px;     
  display:flex;
  align-items:center;
  gap:16px;
}

.btn{
   width:34px;
   height:34px;
   border-radius:50%;
   background:transparent;
   border:1px solid rgba(255,255,255,0.3);
   color:#4da6ff;
   cursor:pointer;
   padding: 0px;
   margin-left:   px;
   align-items: center;
   justify-content: center;
   display: flex;
 }
 
.search-box{
  display:flex;
  align-items:center;
  gap:10px;
  padding:16px 12px;
  border-radius:16px;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.2);
  height: 20px;
  width: 120px;
  margin-left:20px ;
}

.search-box i{
  color:#4da6ff;
  font-size:14px;
}

.search-box input{
  background:transparent;
  border:none;
  outline:none;
  color:#fff;
  width:100px;          
  font-size:14px;
  height: 20px;
}

.search-box input::placeholder{
  color:#aaa;
} 

.menu-toggle{
  display:none;
  font-size:22px;
  cursor:pointer;
  color:#fff;
}

.main{
  width:100%;
  min-height:100vh;
}

.about{
  padding:100px 8% 80px;
  display:flex;
  gap:90px;
  /* padding-top: 20px; */
  
  align-items:center;
  justify-content:center;
}

.leftimg{
  width:320px;
  height:400px;
  border-radius:18px;
  overflow:hidden;
  box-shadow:0 25px 45px rgba(0,0,0,0.45);
}

.leftimg img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.rightcontent{
  max-width:520px;
}

.tag{
  color:#4da6ff;
  font-size:20px;
  letter-spacing:1px;
  font-weight:600;
}

.rightcontent h2{
  font-size:44px;
  margin:12px 0;
}

.rightcontent p{
  line-height:1.8;
  opacity:0.85;
  font-size:20px;
}

.divide{
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #4da6ff,
    transparent
  );
  margin: 60px 0;
  opacity: 0.6;
}
.about-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
    margin:10%;
}
.card {
    height: 250px;
    width: 350px;
    background: #141414;
    color: #fff;
    border-radius: 22px;
    padding: 40px 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card i{
  font-size: 25px;
  margin-bottom: 15px;
  color: #ffffff;
  transition: transform 0.4s ease, color 0.4s ease;
}
.card h3{
  font-size: 30px;
  margin-bottom: 10px;
  
}

.card.show{
  opacity: 1;
  transform: translateY(0);
}
.card:hover {
    transform: translateY(-6px);
}


.card:hover{
  transform:translateY(-6px);
}

.card1{ background: linear-gradient(
  135deg,
  #1F6F8B 0%,
  #1A5C73 30%,
  #0B1D3A 65%,
  #040B1A 100%
);

 }
.card2{  background: linear-gradient(
  135deg,
  #1F6F8B 0%,
  #1A5C73 30%,
  #0B1D3A 65%,
  #040B1A 100%
);
 }
.card3{ background: linear-gradient(
  135deg,
  #1F6F8B 0%,
  #1A5C73 30%,
  #0B1D3A 65%,
  #040B1A 100%
);
 }
.card4{  background: linear-gradient(
  135deg,
  #1F6F8B 0%,
  #1A5C73 30%,
  #0B1D3A 65%,
  #040B1A 100%
);
 }
.card5{  background: linear-gradient(
  135deg,
  #1F6F8B 0%,
  #1A5C73 30%,
  #0B1D3A 65%,
  #040B1A 100%
);
 }
.card6{  background: linear-gradient(
  135deg,
  #1F6F8B 0%,
  #1A5C73 30%,
  #0B1D3A 65%,
  #040B1A 100%
);
 }

.card h3{
  margin-bottom:12px;
  font-size:25px;
}

.card p{
  margin:6px 0;
  font-size:18px;
  font-family: Arial, Helvetica, sans-serif;
}
body.light .nav-links.active{
    color:#4A2490;
  background-color: #f4f6fb;
}
  

@media (max-width: 1024px) {
    .about {
        gap: 50px;
        padding: 80px 5% 60px;
    }

    .rightcontent h2{
        font-size: 36px;
    }

    .rightcontent p{
        font-size: 18px;
    }

    .about-section {
        grid-template-columns: repeat(2, 1fr); 
        margin: 5%;
    }

    .card {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
        padding: 60px 5% 40px;
    }

    .leftimg {
        width: 80%;
        height: auto;
    }

    .rightcontent h2 {
        font-size: 28px;
        text-align: center;
    }

    .rightcontent p {
        font-size: 16px;
        text-align: center;
    }

    .about-section {
        grid-template-columns: 1fr; 
        gap: 20px;
        margin: 5%;
    }

    .card {
        height: auto;
        padding: 30px 20px;
    }

    .card h3{
        font-size: 22px;
    }

    .card p{
        font-size: 16px;
    }
  }


.footer{
  min-height: 500px;
  width: 100%;
  color: #fff;
   background:linear-gradient(180deg,#0b1324);
  padding: 100px 20px 20px;
  border-top: 1px solid rgba(74, 36, 144, 0.2);
}

.footerCont{
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h2,
.footer-box h3{
  margin-bottom: 15px;
  color: #4da6ff;
}

.footer-box p{
  font-size: 14px;
  line-height: 1.7;
  color: #ccc;
}
.footer-box a.dez{
  color: #ccc;
}

.footer-box ul{
  list-style: none;
}

.footer-box ul li{
  margin-bottom: 10px;
}

.footer-box ul li a{
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-box ul li a:hover{
  color: #4da6ff;
  padding-left: 5px;
}

/* Bottom */
.footer-bottom{
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
}

.footer-bottom p{
  font-size: 13px;
  color: #ccc;
}
.footer-bottom a{
  font-size: 13px;
  color: #ccc;
  text-decoration: none;
}
.footer-box a{
  font-size: 13px;
  color: #aaa;
  text-decoration: none;
}

.icon{
  margin-top: 12px;
} 

.icon a{
  color: #4da6ff;
  margin: 0 10px;
  font-size: 18px;
  transition: 0.3s;
}

.icon a:hover{
  color: #fff;
  transform: scale(1.2);
}




/* theme */

body.light{
  background-color: #ffffff;
  color: #000;
}
body.light .navbar,
body.light .footer{
  background:#f4f6fb;
}

body.light a{
  color:#111;
}
 body.light .navbar {
  background-color: #f4f6fb; 
  border-bottom: 2px solid rgba(74, 36, 157, 0.908); 
  color: #000; 
}

body.light .logo {
  color: #4A2490;    
}
body.light .nav-links li a {
  color: #111; 
}

body.light .nav-links li a:hover {
  color: #4A2490; 
}
body.light .menu-toggle{
  color: #4A2490;
}
body.light .nav-links li::after {
  background: #6a3dd9; 
}
body.light .nav-links li::after {
  background-color: #6a3dd9;
}


body.light .hover{
   background-color: rgba(74, 36, 157, 0.2);  
}


body.light .btn {
  border: 1px solid rgba(0,0,0,0.2);
  background: transparent;
} 
body.light .btn{
  color: #4A2490;
}

body.light .search-box{
  background:#ffffff;
  border:1px solid rgba(74,36,144,0.3);
}

body.light .search-box i{
  color:#4A2490;
}

body.light .search-box input{
  color:#222;
}

body.light .search-box input::placeholder{
  color:#666;
}
body.light .tag{
  color:#000
}
body.light .rightcontent h2{
  color: #4A2490;
}
body.light .divide{
  background: linear-gradient(
    to right,
    transparent,
    #4a2490,
    transparent
  );
}
body.light .card{
  background: linear-gradient(to bottom, #d8c2f2, #f7cdd6);

}
body.light .card h3,
body.light .card i,
body.light .card p{
  color: #4A2490;
}
body.light .card p{
  font-weight: bold;
}

body.light .footer{
  background: #ffffff;
  color: #1c1c1c;
}

body.light .footer-box h2,
body.light .footer-box h3{
  color: #4A2490; 
}

body.light .footer-box p{
  color: #555;
}

body.light .footer-box ul li a{
  color: #555;
}

body.light .footer-box ul li a:hover{
  color: #4A2490;
}

body.light .footer-bottom{
  border-top: 1px solid rgba(74,36,144,0.2);
}

body.light .footer-bottom p{
  color: #666;
}

body.light .footer-bottom a{
  color: #666;
}

body.light .icon a{
  color: #4A2490;
}

body.light .icon a:hover{
  color: #000;
  transform: scale(1.2);
}
body.light .btn{
  color: #4A2490;
    border:1px solid rgba(74,36,148,0.3);
}


body.light .footer-box p{
  color: #555;
}

body.light .footer-box ul li a{
  color: #555;
}

body.light .footer-box ul li a:hover{
  color: #4A2490;
}

body.light .footer-bottom{
  border-top: 1px solid rgba(74,36,144,0.2);
}

body.light .footer-bottom p{
  color: #666;
}


body.light .icon a{
  color: #4A2490;
}

body.light .icon a:hover{
  color: #000;
  transform: scale(1.2);
}
body.light .btn{
  color: #4A2490;
    border:1px solid rgba(74,36,148,0.3);
}

/* @media(max-width:900px){

  .menu-toggle{
    display:block;
  }

  
  .navbar{
    padding:0 16px;
  }

  .menu-toggle{
    display:block;
    margin-left:auto;
  }

  .rightnav{
    display:flex;
    gap:12px;
  }

  .search-box{
    width:36px;
    padding:16px 12px;;
    justify-content:center;
    border-radius: 50%;
  }

  .search-box input{
    display:none;
  }

  .nav-links{
    position:absolute;
    top:74px;
    left:0;
    width:100%;
    background:#0b1324;
    flex-direction:column;
    align-items:center;
    gap:22px;
    padding:24px 0;
    display:none;
  }

  .nav-links.active{
    display:flex;
  }

  .nav-links li::after{
    display:none;
  }
}
 */

/* nvbr */
@media (max-width: 768px) {

 
  .navbar{
    padding:0 16px;
    position:relative;
  }

  .logo{
    font-size:22px;
  }
  @media (max-width: 768px){
  body{
    padding-top:0;   
  }
}

  
  .menu-toggle{
    display:block;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    z-index:1100;
  }


  .rightnav{
    margin-left:0;
  }


  .search-box{
    display:none;
  }

  .nav-links{
    position:absolute;
    top:74px;
    left:0;
    width:100%;
    flex-direction:column;
    align-items:center;
    background:linear-gradient(180deg,#0f1b33,#0b1324);
    display:none;
    gap:0;
    padding:12px 0 80px; 
    border-bottom:2px solid rgba(255,255,255,0.2);
  }

  .nav-links.active{
    display:flex;
    
  }

  .nav-links li{
    width:100%;
    justify-content:center;
    padding:14px 0;
    font-size:16px;
  }

  .nav-links li::after{
    display:none;
  }

  
  .nav-links.active ~ .rightnav{
    position:absolute;
    top:calc(74px + 4 * 48px);
    left:0;
    width:100%;
    display:flex;
    justify-content:center;
  }

  .nav-links.active ~ .rightnav .search-box{
    display:flex;
    width:60%;
    margin-top:12px;
    padding:12px 14px;
    height:auto;
  }

  .nav-links.active ~ .rightnav .search-box input{
    display:block;
    width:100%;
  }

body.light .nav-links{
  background: #f4f6fb;
  border-bottom:2px solid rgba(0,0,0,0.1);
}

body.light .nav-links li{
  color:#1e293b;
}

body.light .nav-links li:hover{
  color:#4A2490;
}
}
 

@media (max-width: 768px) {
  .footer {
    padding: 60px 20px 40px; 
    min-height: auto;       
    width: 100%;           
  }

  .footerCont {
    gap: 20px;              
  }

  .footer-bottom {
    flex-direction: column;  
    gap: 10px;
    text-align: center;
  }

  .icon a {
    font-size: 20px;         
    margin: 5px;
  }
}




