
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth ;
  font-family:'Manrope', sans-serif;
}

body{
  background:#0f0f0f;
  color:#fff;
  padding-top: 64px;
}
.navbar{
  height:74px;              
  padding:0 74px;
  display:flex;
  align-items:center;      
  position: fixed;
  gap: 50px;
  top:0;
  left:0;
  width:100%;
  z-index:1000;
  justify-content:space-between;
  background:linear-gradient(180deg,#0f1b33,#0b1324);
  border-bottom:1px solid rgba(255,255,255,0.2);
  /* position:relative; */
}

.logo{
  display:flex;
  align-items:center;
  font-weight:600;
  font-size:26px;
  letter-spacing:0.5px;
}


.nav-links{
  list-style:none;
  display:flex;
  justify-content: space-evenly;
  margin-left: auto;
  gap:50px;
  
}

 .nav-links li{
  position:relative;
  display:flex;             
  align-items:center;       
  font-size:18px;
  color:#cbd5e1;
  cursor:pointer;
  padding:38px 4px;
  height:25px 4px;  
  font-weight: 500;             
  transition:color 0.25s ease;
  
} 

.nav-links a{
  text-decoration: none;
  color: inherit;
}

.nav-links li:hover{
  
  color:#ffffff;
    border-bottom-color:#4da6ff;
}


 .nav-links li::after{
  content:"";
  position:absolute;
  left:50%;
  bottom:12px;                 
  width:70px;
  height:2px;
  background:#4da6ff;
  border-radius:2px;
  transform:translateX(-50%) scaleX(0);
  transform-origin:center;
  transition:transform 0.35s ease;
} 
 


.nav-links li:hover::after{
  transform:translateX(-50%) scaleX(1);
  
}
.rightnav{
  margin-left:15px;     
  display:flex;
  align-items:center;
  gap:16px;
}

.btn{
   width:34px;
   height:34px;
   border-radius:50%;
   background:transparent;
   border:1px solid rgba(255,255,255,0.3);
   color:#4da6ff;
   cursor:pointer;
   padding: 0px;
   margin-left:   px;
   align-items: center;
   justify-content: center;
   display: flex;
 }
 
.search-box{
  display:flex;
  align-items:center;
  gap:10px;
  padding:16px 12px;
  border-radius:16px;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.2);
  height: 20px;
  width: 120px;
  margin-left:20px ;
}

.search-box i{
  color:#4da6ff;
  font-size:14px;
}

.search-box input{
  background:transparent;
  border:none;
  outline:none;
  color:#fff;
  width:100px;          
  font-size:14px;
  height: 20px;
}

.search-box input::placeholder{
  color:#aaa;
} 

.menu-toggle{
  display:none;
  font-size:22px;
  cursor:pointer;
  color:#fff;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px; 
  padding: 0 120px;
  margin-top: 50px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  height: 300px;
  width: 100%; 
  cursor: pointer;
  background: #000;
  transition: transform 0.4s ease;
}


.project-img{
  width:100%;
  height:100%;
}

.project-img img{
  width:100%;
  height:100%;
  object-fit: cover;
  transition: filter 0.4s ease, transform 0.4s ease;
}


.project-card:hover .project-img img{
  filter: blur(6px);
  transform: scale(1.08);
}

.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: 0.4s ease;
}

.project-card:hover::after {
  opacity: 1;
}

.project-tags {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background: #0f0f0f;
  border-bottom-left-radius: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.project-overlay {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -140px;

  background:#4da6ff;
  backdrop-filter: blur(12px);
  /* -webkit-backdrop-filter: blur(12px); */

  color: #fff;
  padding: 22px 24px;
  border-radius: 18px;
  transition: 0.4s ease;
  box-shadow: 0 20px 40px rgba(0,0,0,0.45);
  z-index: 4;
}

.project-card:hover .project-overlay {
  bottom: 20px;
}

.project-overlay h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.project-overlay p {
  font-size: 0.9rem;
  opacity: 0.9;
  line-height: 1.4;
}

.project-overlay .arrow {
  position: absolute;
  right: 18px;
  top: 18px;
  font-size: 1.4rem;
}

.project-btn{
  position: absolute;
  right: 18px;
  top: 18px;
  text-decoration: none;
  color: #fff;
  z-index: 5;
}

.project-btn:hover{
  transform: scale(1.1);
  transition: 0.3s;
}


.footer{
  height: 500px;
  color: #fff;
  padding: 150px 20px 20px;
    border-top: 1px solid rgba(74, 36, 144, 0.2);
}

.footerCont{
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h2,
.footer-box h3{
  margin-bottom: 15px;
  color: #4da6ff;
}

.footer-box p{
  font-size: 14px;
  line-height: 1.7;
  color: #ccc;
}

.footer-box ul{
  list-style: none;
}

.footer-box ul li{
  margin-bottom: 10px;
}

.footer-box ul li a{
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-box ul li a:hover{
  color: #4da6ff;
  padding-left: 5px;
}
.footer-box a{
  font-size: 13px;
  color: #aaa;
  text-decoration: none;
}
/* Bottom */
.footer-bottom{
  margin-top: 40px;
  /* border-top: 1px solid rgba(255,255,255,0.1); */
  padding-top: 20px;
  text-align: center;
}

.footer-bottom p{
  font-size: 13px;
  color: #aaa;
}
.footer-bottom a{
  font-size: 13px;
  color: #aaa;
  text-decoration: none;
}
.footer-box a{
  font-size: 13px;
  color: #aaa;
  text-decoration: none;
}

.icon{
  margin-top: 12px;
} 

.icon a{
  color: #4da6ff;
  margin: 0 10px;
  font-size: 18px;
  transition: 0.3s;
}

.icon a:hover{
  color: #fff;
  transform: scale(1.2);
}


/* theme */
body.light{
  background-color: #ffffff;
  color: #000;
}
body.light .navbar,
body.light .footer{
  background:#f4f6fb;
}
body.light a{
  color:#111;
}
body.light .navbar {
  background-color: #f4f6fb; 
  border-bottom: 2px solid rgba(74, 36, 157, 0.908); 
  color: #000; 
}

body.light .logo {
  color: #4A2490;    
}
body.light .nav-links li a {
  color: #111; 
}

body.light .nav-links li a:hover {
  color: #4A2490; 
}

body.light .nav-links li::after {
  background: #6a3dd9; 
}
body.light .nav-links li::after {
  background-color: #6a3dd9;
}


body.light .hover{
   background-color: rgba(74, 36, 157, 0.2);  
}


body.light .btn {
  border: 1px solid rgba(0,0,0,0.2);
  background: transparent;
} 


body.light .search-box{
  background:#ffffff;
  border:1px solid rgba(74,36,144,0.3);
}

body.light .search-box i{
  color:#4A2490;
}

body.light .search-box input{
  color:#222;
}

body.light .search-box input::placeholder{
  color:#666;
}
body.light .icons a {
  color: #555;
}
.project-btn{
  color: #ffffff;

}
