
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth ;
  font-family:'Manrope', sans-serif;
}

body{
  background:#0f0f0f;
  color:#fff;
 
}
.navbar{
  height:74px;              
  padding:0 74px;
  display:flex;
  align-items:center;      
  position: fixed;
  gap: 50px;
  top:0;
  left:0;
  width:100%;
  z-index:1000;
  justify-content:space-between;
  background:linear-gradient(180deg,#0f1b33,#0b1324);
  border-bottom:2px solid rgba(255,255,255,0.2);
  
}

.logo{
  display:flex;
  align-items:center;
  font-weight:600;
  font-size:26px;
  letter-spacing:0.5px;
}


.nav-links{
  list-style:none;
  display:flex;
  justify-content: space-evenly;
  margin-left: auto;
  gap:50px;
  
}

 .nav-links li{
  position:relative;
  display:flex;             
  align-items:center;       
  font-size:18px;
  color:#cbd5e1;
  cursor:pointer;
  padding:38px 4px;
  height:25px 4px;  
  font-weight: 500;             
  transition:color 0.25s ease;
  
} 

.nav-links a{
  text-decoration: none;
  color: inherit;
}

.nav-links li:hover{
  
  color:#ffffff;
    border-bottom-color:#4da6ff;
}


 .nav-links li::after{
  content:"";
  position:absolute;
  left:50%;
  bottom:12px;                 
  width:70px;
  height:2px;
  background:#4da6ff;
  border-radius:2px;
  transform:translateX(-50%) scaleX(0);
  transform-origin:center;
  transition:transform 0.35s ease;
} 
 


.nav-links li:hover::after{
  transform:translateX(-50%) scaleX(1);
  
}
.rightnav{
  margin-left:15px;     
  display:flex;
  align-items:center;
  gap:16px;
}

.btn{
   width:34px;
   height:34px;
   border-radius:50%;
   background:transparent;
   border:1px solid rgba(255,255,255,0.3);
   color:#4da6ff;
   cursor:pointer;
   padding: 0px;
   margin-left:   px;
   align-items: center;
   justify-content: center;
   display: flex;
 }
 
.search-box{
  display:flex;
  align-items:center;
  gap:10px;
  padding:16px 12px;
  border-radius:16px;
  background:rgba(255,255,255,0.05);
  border:1px solid rgba(255,255,255,0.2);
  height: 20px;
  width: 120px;
  margin-left:20px ;
}

.search-box i{
  color:#4da6ff;
  font-size:14px;
}

.search-box input{
  background:transparent;
  border:none;
  outline:none;
  color:#fff;
  width:80px;          
  font-size:14px;
  height: 20px;
}

.search-box input::placeholder{
  color:#aaa;
} 

.menu-toggle{
  display:none;
  font-size:22px;
  cursor:pointer;
  color:#fff;
}


.cv-btn {
  background-color: #4da6ff;
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}
.cv-btn:hover {
  background-color: #3390ff;
    transform:translateY(-5%) scaleX(1);
}



.hero{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  max-width: 100%;
  margin:0 auto;
  gap: 40px; 
   min-height:calc(100vh - 74px); 
  padding:60px 70px;
  align-items:center;
}
.hero-img{
  align-self: unset;
  margin-top: 70px;
}

.hero-img img{
  margin-left: 0; 
  width: 100%;
  max-width: 650px;
  height: auto;  
  align-items: flex-end;
  
}
.hero-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.hero-text .intro {
  color: #4da6ff;
  font-weight: 500;
  font-size: 1.1rem;
}

.hero-text h1 {
  font-size: 56px;
      unicode-bidi: isolate;
  line-height: 1.2;
   
}

.hero-text h1 span {
  color: #4da6ff;
}

.hero-text .description {
  font-size: 1.3rem;
  color: #ccc;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.cv-btn {
  background-color: #4da6ff;
  color: #fff;
  padding: 10px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.cv-btn:hover {
  background-color: #3390ff;
}
#toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #9d4edd;
  color: #fff;
  padding: 12px 20px;
  border-radius: 20px;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
  font-size: 14px;
}

/* show toast */
#toast.show {
  opacity: 1;
}

/* Mobile */
@media (max-width: 576px) {
  #toast {
    left: 50%;
    right: auto;
    bottom: 20px;
    transform: translateX(-50%);
    width: 90%;
    max-width: 320px;
    text-align: center;
    border-radius: 14px;
  }
}


.secondary-btn {
  border: 2px solid #4da6ff;
  color: #4da6ff;
  padding: 10px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.secondary-btn:hover {
  background-color: #4da6ff;
  color: #fff;
}


.icons {
  display: flex;
  gap: 40px; 
  margin-top: 10px;
  flex-wrap: wrap;
}

.icons a {
  color: #fff;
  font-size: 1.8rem;
  transition: 0.3s;
 
}

.icons a:hover {
  color: #3390ff;
  transform: translateY(-2px);
}
.divide{
  width: 100%;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    #4da6ff,
    transparent
  );
  margin: 60px 0;
  opacity: 0.6;
}


.services{
  background: #0f0f0f;   
  padding: 70px 0;
  margin-top: 40px;
  
}
.services .heading {
  text-align: center;
  font-size: 52px;
  font-weight: bold;

 
   background:  #ffffff;
  background-clip: text;
  color: transparent;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 2s forwards;
  animation-delay: 0.2s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.cards3{
  display: flex;
  justify-content: center;
  gap: 50px;          
  flex-wrap: wrap;
  margin-top: 4%;
}
.card{
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  flex: 1 1 280px;
  max-width: 320px;
  border-radius: 18px;
  padding: 40px 25px;
  box-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
  overflow: hidden;
}
.card i{
  font-size: 45px;
  margin-bottom: 15px;
  color: #4da6ff;
  transition: transform 0.4s ease, color 0.4s ease;
}
.card h3{
  font-size: 22px;
  margin-bottom: 10px;
  
}

.card p{
  font-size: 15px;
  color: #ccc;
  line-height: 1.6;
}
.card{
  opacity: 0;
  transform: translateY(40px);
}

.card.show{
  opacity: 1;
  transform: translateY(0);
}

.container{
  margin-top: 90px;
  width: auto;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-bottom: 50px;
  flex-wrap: wrap;

}

.work-container {
  width: 90%;
  margin: 90px auto 0;
}

.topheading h3 {
  color: #3fa2f6;
  font-size: 2rem;
  line-height: 2.1rem;
}

.topheading h2 {
  border-left: 4px solid #3fa2f6;
  font-size: 3.8rem;
  padding-left: 14px;
  margin-bottom: 40px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px; 
  padding: 0 120px;
  margin-top: 50px;
}

.project-card {
  position: relative;
  overflow: hidden;
  border-radius: 18px;
  height: 300px;
  width: 100%; 
  cursor: pointer;
  background: #000;
  transition: transform 0.4s ease;
}


.project-img{
  width:100%;
  height:100%;
}

.project-img img{
  width:100%;
  height:100%;
  object-fit: cover;
  transition: filter 0.4s ease, transform 0.4s ease;
}


.project-card:hover .project-img img{
  filter: blur(6px);
  transform: scale(1.08);
}

.project-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: 0.4s ease;
}

.project-card:hover::after {
  opacity: 1;
}

.project-tags {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background: #0f0f0f;
  border-bottom-left-radius: 1.5rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.layer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -140px;
  background:#4da6ff;
  backdrop-filter: blur(12px);
    color: #fff;
  padding: 22px 24px;
  border-radius: 18px;
  transition: 0.4s ease;
  box-shadow: 0 20px 40px rgba(0,0,0,0.45);
  z-index: 4;
}

.project-card:hover .layer{
  bottom: 20px;
}

.layer h4 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.layer p {
  font-size: 0.9rem;
  opacity: 0.9;
  line-height: 1.4;
}

.layer .arrow {
  position: absolute;
  right: 18px;
  top: 18px;
  font-size: 1.4rem;
}

.project-btn{
  position: absolute;
  right: 18px;
  top: 18px;
  text-decoration: none;
  color: #fff;
  z-index: 5;
}

.project-btn:hover{
  transform: scale(1.1);
  transition: 0.3s;
}


.footer{
  min-height: 500px;
  width: 100%;
  color: #fff;
   background:linear-gradient(180deg,#0b1324);
  padding: 100px 20px 20px;
  border-top: 1px solid rgba(74, 36, 144, 0.2);
}

.footerCont{
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h2,
.footer-box h3{
  margin-bottom: 15px;
  color: #4da6ff;
}

.footer-box p{
  font-size: 14px;
  line-height: 1.7;
  color: #ccc;
}
.footer-box a.dez{
  color: #ccc;
}

.footer-box ul{
  list-style: none;
}

.footer-box ul li{
  margin-bottom: 10px;
}

.footer-box ul li a{
  text-decoration: none;
  color: #ccc;
  transition: 0.3s;
}

.footer-box ul li a:hover{
  color: #4da6ff;
  padding-left: 5px;
}

/* Bottom */
.footer-bottom{
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
}

.footer-bottom p{
  font-size: 13px;
  color: #ccc;
}
.footer-bottom a{
  font-size: 13px;
  color: #ccc;
  text-decoration: none;
}
.footer-box a{
  font-size: 13px;
  color: #aaa;
  text-decoration: none;
}

.icon{
  margin-top: 12px;
} 

.icon a{
  color: #4da6ff;
  margin: 0 10px;
  font-size: 18px;
  transition: 0.3s;
}

.icon a:hover{
  color: #fff;
  transform: scale(1.2);
}




/* theme */

body.light{
  background-color: #ffffff;
  color: #000;
}
body.light .navbar,
body.light .footer{
  background:#4A24900D;
}

body.light a{
  color:#111;
}
 body.light .navbar {
  background-color: #f4f6fb; 
  border-bottom: 2px solid rgba(74, 36, 157, 0.908); 
  color: #000; 
}

body.light .logo {
  color: #4A2490;    
}
body.light .nav-links li a {
  color: #111; 
}

body.light .nav-links li a:hover {
  color: #4A2490; 
}

body.light .nav-links li::after {
  background: #6a3dd9; 
}
body.light .nav-links li::after {
  background-color: #6a3dd9;
}


body.light .hover{
   background-color: rgba(74, 36, 157, 0.2);  
}


body.light .btn {
  border: 1px solid rgba(0,0,0,0.2);
  background: transparent;
} 


body.light .search-box{
  background:#ffffff;
  border:1px solid rgba(74,36,144,0.3);
}

body.light .search-box i{
  color:#4A2490;
}

body.light .search-box input{
  color:#222;
}

body.light .search-box input::placeholder{
  color:#666;
}

body.light .hero-text .intro {
  color: #4A2490;
  font-weight: 600;
  letter-spacing: 0.5px;
}
body.light .hero-text h1 {
  color: #1b1b1b;
  text-shadow: 0 2px 6px rgba(0,0,0,0.04);
}

body.light .hero-text h1 span {
  color: #4A2490;
}
body.light .hero-text .description {
  color: #555;
  font-size: 1.25rem;
  line-height: 1.7;
}
body.light .cv-btn {
  background: #4A2490;
  color: #fff;
  box-shadow: 0 12px 30px rgba(74,36,144,0.25);
}

body.light .cv-btn:hover {
  transform: translateY(-2px);
}
body.light .secondary-btn {
  background: #fff;
  border: 2px solid #4A2490;
  color: #4A2490;
}

body.light .secondary-btn:hover {
  background: #4A2490;
  color: #fff;
}
body.light .icons a {
  color: #555;
}

body.light .icons a:hover {
  color: #4A2490;
  transform: translateY(-3px);
}


body.light .services{
  background: #ffffff
}
body.light .services .heading{
  color: #4A2490;
}
body.light .card{
  background: rgb(248, 249, 253);
   border: 1px solid rgba(74, 36, 144, 0.6); 
  box-shadow: 0 18px 40px rgba(74,36,144,0.1); 
  box-shadow: 0 12px 30px rgba(74,36,144,0.25);

}

body.light .card i{
  color: #4A2490;
}
body.light .card h3{
  color: #1c1c1c;
}

body.light .card p{
  color: #555;
}
body.light .card:hover{
  transform: translateY(-10px);
  box-shadow: 0 25px 60px rgba(74, 36, 144, 0.848);
}
body.light .divide{
   background: linear-gradient(
    to right,
    transparent,
    #4a2490,
    transparent
  );
}
body.light .topheading h3{
  color: #000000;
}
body.light .topheading h2{
  border-left: 4px solid #4A2490;
  color: #4A2490;
}
body.light .project-tags{
  background-color: #ffffff;
  color: #000;
}
body.light .layer{
  background-color: #4A2490;
}

body.light .project-btn{
  color: white;
}
/* light theme */
body.light .footer{
  background: #ffffff;
  color: #1c1c1c;
}

body.light .footer-box h2,
body.light .footer-box h3{
  color: #4A2490; 
}

body.light .footer-box p{
  color: #555;
}
body.light a.dez{
  color: #555;
}

body.light .footer-box ul li a{
  color: #555;
}

body.light .footer-box ul li a:hover{
  color: #4A2490;
}


body.light .footer-bottom p{
  color: #666;
  margin-bottom: 3px;
  font-size: 1.0rem;
}
body.light .footer-bottom a{
  color: #666;
  font-size: 1.0rem;
}
body.light .icon a{
  color: #4A2490;
  transform: scale(1.2);
}

body.light .icon a:hover{
  color: #000;
  transform: scale(1.2);
}
body.light .btn{
  color: #4A2490;
    border:1px solid rgba(74,36,148,0.3);
}
body.light .menu-toggle{

  color:#4A2490;
  background-color: #f4f6fb;
}
body.light .nav-links.active{
    color:#4A2490;
  background-color: #f4f6fb;
}
  

/* Responsiveness */
@media (max-width: 768px) {

 
  .navbar{
    padding:0 16px;
    position:relative;
  }

  .logo{
    font-size:22px;
  }
  .menu-toggle{
    display:block;
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    z-index:1100;
  }

  .rightnav{
    margin-left:0;
  }

  
  .search-box{
    display:none;
  }

 
  .nav-links{
    position:absolute;
    top:74px;
    left:0;
    width:100%;
    flex-direction:column;
    align-items:center;
    background:linear-gradient(180deg,#0f1b33,#0b1324);
    display:none;
    gap:0;
    padding:12px 0 80px; /* space for search */
    border-bottom:2px solid rgba(255,255,255,0.2);
  }

  .nav-links.active{
    display:flex;
    
  }

  .nav-links li{
    width:100%;
    justify-content:center;
    padding:14px 0;
    font-size:16px;
  }

  .nav-links li::after{
    display:none;
  }

  .nav-links.active ~ .rightnav{
    position:absolute;
    top:calc(74px + 4 * 48px);
    left:0;
    width:100%;
    display:flex;
    justify-content:center;
  }

  .nav-links.active ~ .rightnav .search-box{
    display:flex;
    width:60%;
    margin-top:12px;
    padding:12px 14px;
    height:auto;
  }

  .nav-links.active ~ .rightnav .search-box input{
    display:block;
    width:100%;
  }

body.light .nav-links{
  background: #f4f6fb;
  border-bottom:2px solid rgba(0,0,0,0.1);
}

body.light .nav-links li{
  color:#1e293b;
}

body.light .nav-links li:hover{
  color:#4A2490;
}
}
 /* @media (max-width: 768px){

  .navbar{
    padding:0 16px;
  }

  .menu-toggle{
    display:block;
    margin-left:auto;
  }

  .rightnav{
    display:flex;
    gap:12px;
  }

  .search-box{
    width:36px;
    padding:16px 12px;;
    justify-content:center;
    border-radius: 50%;
  }

  .search-box input{
    display:none;
  }
  

  .nav-links{
    position:absolute;
    top:74px;
    left:0;
    width:100%;
    background:#0b1324;
    flex-direction:column;
    align-items:center;
    gap:22px;
    padding:24px 0;
    display:none;
  }

  .nav-links.active{
    display:flex;
  }

  .nav-links li::after{
    display:none;
  }
}  */

@media (max-width: 1024px) {
  .hero {
    flex-direction: column-reverse;
    padding: 40px 50px;
    min-height: auto;
    gap: 30px;
    text-align: center;
  }

  .hero-text {
    max-width: 100%;
    gap: 15px;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 42px;
    line-height: 1.2;
  }

  .hero-text .description {
    font-size: 1.1rem;
  }

  .buttons {
    flex-direction: column;
    gap: 12px;
  }

  .icons {
    justify-content: center;
    gap: 25px;
  }

  .hero-img img {
    max-width: 450px;
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 30px 20px;
    gap: 20px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text .description {
    font-size: 1rem;
  }

  .hero-img img {
    max-width: 350px;
  }

  .buttons {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 28px;
  }

  .hero-text .description {
    font-size: 0.95rem;
  }

  .buttons a {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .hero-img img {
    max-width: 280px;
  }

  .icons a {
    font-size: 1.5rem;
    gap: 15px;
  }
}

@media (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: 1fr; 
    padding: 0 20px; 
    gap: 30px;
  }

  .cards3 {
    gap: 20px;
    padding: 0 20px;
  }
  .project-card {
    height: 250px;
  }

  .layer {
    bottom: -120px; 
    padding: 18px 20px;
  }
  .services .heading {
    font-size: 36px;
  }
}

@media (max-width: 768px) {
  
  .container {
    padding: 0 15px;
    margin-top: 50px;
  }


  .footerCont {
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  .card {
    max-width: 100%;
    padding: 25px 15px;
  }

  
  .project-card {
    height: 220px;
  }

  .layer {
    bottom: -100px;
    padding: 16px 18px;
  }


}


@media (max-width: 480px) {

  .projects-grid {
    gap: 20px;
  }

  .layer h4 {
    font-size: 1.2rem;
  }

  .layer p {
    font-size: 0.8rem;
  }

  .services .heading {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 60px 20px 40px; 
    min-height: auto;       
    width: 100%;           
  }

  .footerCont {
    gap: 20px;              
  }

  .footer-bottom {
    flex-direction: column;  
    gap: 10px;
    text-align: center;
  }

  .icon a {
    font-size: 20px;         
    margin: 5px;
  }
}


.projects-section {
  margin-bottom: 80px;
}

